.header {
    background-color: transparent;

    &__container {
        display: flex;
        align-items: center;
        padding-top: 15px;
        justify-content: space-between;
        padding-right: 42px;

        @media (min-width: 768px) {
            padding-top: 21px;
        }

        @media (min-width: 1728px) {
            padding-top: 77px;
        }
    }

    &__logo {
        img {
            display: block;
            width: 74px;
            height: 25px;

            @media (min-width: 768px) {
                width: 94px;
                height: 32px;
            }

            @media (min-width: 768px) {
                margin-right: 140px;
            }

            @media (min-width: 1728px) {
                margin-right: 364px;
            }
        }
    }

    &__buttons {}

    @media (min-width: 768px) {
        gap: 44px;
    }
}