.main-nav {
    background-color: transparent;

    &__container {
        display: flex;
        align-items: center;
        padding-top: 15px;
        justify-content: space-between;

        @media (min-width: 768px) {
            padding-top: 21px;
        }

        @media (min-width: 1728px) {
            padding-top: 77px;
        }
    }

    &__burger {
        @include clear-button;

        img {
            display: block;
            width: 16px;
            height: 11px;
            // margin-left: 20px
        }

        @media (min-width: 321px) {
            display: none;
        }
    }

    &__shop {
        @include clear-button;

        img {
            display: block;
            width: 19px;
            height: 17px;
            // margin-left: 28px;
        }

        @media (min-width: 768px) {
            img {
                width: 32px;
                height: 26px;
                // margin-left: 44px
            }
        }
    }

    &__find {
        @include clear-button;

        img {
            display: block;
            width: 17px;
            height: 16px;
        }

        @media (min-width: 768px) {
            img {
                width: 29px;
                height: 27px;
            }
        }
    }

    &__logo {
        img {
            display: block;
            width: 74px;
            height: 25px;

            @media (min-width: 768px) {
                width: 94px;
                height: 32px;
            }
        }

        @media (min-width: 768px) {
            margin-right: 140px;
        }

        @media (min-width: 1728px) {
            margin-right: 364px;
        }
    }

    &__list {
        display: none;

        @media (min-width: 768px) {
            @include clear-list;
            display: flex;
            font-size: 16px;
            line-height: 24px;
        }

        @media (min-width: 1728px) {
            display: flex;
            font-size: 24px;
            line-height: 37px;
        }
    }

    &__item {
        text-transform: capitalize;
        color: #000000;
        font-weight: 400;

        a {
            padding: 4px 18px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;
        margin-left: auto;
    }

    @media (min-width: 768px) {
        gap: 44px;
    }
}