.menu-buttons {

    &__burger {
        @include clear-button;

        img {
            position: absolute;
            top: 20px;
            right: 10px;
            width: 16px;
            height: 11px;

            @media (min-width: 321px) {
                display: none;
            }
        }
    }
}